.fit-cover {
  object-fit: cover;
}

.status-indicator {
  width: 12px;
  height: 12px;
  display: inline-block;
}

.status-text {
  text-align: left!important;
  font-size: var();
}

@keyframes glow {
  0% {
    box-shadow: 0 0 5px #28a745, 0 0 10px #28a745;
    background-color: #28a745;
  }
  50% {
    box-shadow: 0 0 10px #00ff66, 0 0 20px #00ff66;
    background-color: #00ff66;
  }
  100% {
    box-shadow: 0 0 5px #28a745, 0 0 10px #28a745;
    background-color: #28a745;
  }
}

.status-indicator.glow {
  animation: glow 2s ease-in-out infinite;
}

.btn-status {
  background-color: var(--bs-success-bg-subtle);
}

